.card{
  background-image: url(./background.png);
  height: 585px;
  width: 340px;
  margin-left: 480px;
  margin-top: 20px;
}

.clock{
    text-align: center;
    padding-top: 200px;
    line-height: 5px;
    line-height: 10px;
}
h1{
    font-size: 30px;
   
}
p{
    font-size: 13px;
    margin: 0px;
    color: gray;
   
}
.format {
    width: 42%;
    display: flex;
    justify-content: space-around;
    padding-left: 100px; 
}
.btn{
    margin-top: 50px;
    
}
button{
    margin: 15px;
    border: 2px solid black;
    border-radius: 5px;
    background: transparent;
    padding: 12px;
    width: 90px;
}
button :hover{
    border-color: #03a9f4 !important ;
    background-color: #03a9f4 !important;
}
 

